/* --------------------------------- General -------------------------------- */
body,
html {
    width           : 100%;
    height          : 100%;
    margin          : 0;
    padding         : 0;
    background-color: #fff;
    font-family     : 'Roboto Condensed', sans-serif;
    line-height     : 1.42857143;
    color           : #333;
}

.invisible {
    opacity: 0;
}

ul {
    list-style-type: none;
}

a {
    outline        : none;
    text-decoration: none;
    font-size      : 1em;
    font-weight    : 700;
    transition     : all 0.4s ease-in-out;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

.title {
    font-weight: 800;
    font-size  : 1.3em;
    text-align : center;
}

button {
    border          : none;
    outline         : none;
    padding         : 3% 5%;
    background-color: #e31f2d;
    color           : #fff;
    font-size       : 1em;
    font-weight     : 700;
    text-transform  : uppercase;
    box-shadow      : 0 0 5px #333;
}

.header,
.logo-container,
#head-spacer,
#logo {
    z-index: 999;
}

.instructions p,
.support p {
    color      : #e31f2d;
    font-weight: 800;
}

.sales p {
    margin    : 3% 5%;
    transition: all 0.4s ease-in-out;
}

.get-call {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 40%;
}

.tv-screen,
.tv-container {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.advantage .check {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 15%;
    padding        : 0 3%;
}

.tv-screen {
    width          : 100%;
    height         : 100%;
    background     : url(./resources/tv.png) no-repeat center;
    background-size: cover;
}

.opportunities .title {
    padding: 0 3%;
}

.opportunity .title {
    padding   : 0;
    text-align: initial;
    font-size : 1em;
}

.opportunity .text {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    width          : 60%;
}

.subscription .sub-header {
    width     : 100%;
    text-align: center;
}

.econom .sub-header {
    background-color: #efefef;
}

.main .sub-header {
    background-color: #e31f2d;
    color           : #fff;
}

.sub-content .sub-point {
    display       : flex;
    flex-direction: row;
    align-items   : center;
}

.sub-point .icon {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 20%;
}

.sub-point img {
    transform: scale(0.8);
}

.sub-point .text {
    width : 80%;
    margin: 0 0 0 5%;
}

.payment-methods {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 40%;
    padding        : 3%;
    background     :
        linear-gradient(#fff, #ff0f0f00 95%, #fff),
        url(./resources/bg3.jpg) no-repeat center;
}

.economy-head {
    background-color: #e31f2d;
    color           : #fff;
}

.economy-point .text {
    display        : flex;
    justify-content: center;
}

.request {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    background     : url(./resources/photo1.jpg) no-repeat center;
    padding        : 3%;
}

.economy-point .check {
    height: 60%;
}

@media screen and (min-width: 800px) {

    body,
    html {
        font-size: 24px;
    }

    button {
        padding    : 1.8em;
        width      : 30%;
        font-size  : 0.8em;
        font-weight: 700;
        transition : all 0.4s ease-in-out;
        cursor     : pointer;
    }

    button:hover {
        color           : #e31f2d;
        background-color: #fff;
    }

    .title {
        font-size: 2.2em;
    }

    /* --------------------------------- Header --------------------------------- */
    .header {
        position        : fixed;
        display         : flex;
        width           : 100%;
        height          : 10%;
        background-color: #fff;
        align-items     : center;
        justify-content : center;
        transition      : all 0.4s ease-in-out;

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.420);
    }

    #head-spacer {
        width     : 100%;
        height    : 10%;
        transition: all 0.4s ease-in-out;
    }

    .header-on-top {
        height: 14% !important;
    }

    .logo-container {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 10%;
        height          : 100%;
        background-color: #fff;
        border-radius   : 0 0 5% 5%;
        transition      : all 0.4s ease-in-out;
    }

    #logo {
        width : 65%;
        height: auto;
    }

    .sales {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        width          : 40%;
        font-size      : 1em;
        text-align     : end;
    }

    .get-call button {
        font-size : 0.6em;
        width     : 40%;
        transition: all 0.4s ease-in-out;
    }

    /* ----------------------------------- TV ----------------------------------- */
    .tv {
        width : 100%;
        height: auto;
    }

    .tv p {
        color     : #fff;
        margin    : 3% 0 7% 0;
        text-align: center;
        font-size : 1em;
    }

    .tv .title {
        font-size: 2em;
        margin   : 3% 0;
    }

    .tv .price {
        color      : #f6c228;
        font-size  : 1.4em;
        font-weight: 700;
        margin     : 3% 0;
    }

    .tv-background {
        width          : 100%;
        background     : url(./resources/bg1.jpg) no-repeat center;
        background-size: cover;
    }

    .tv-container {
        max-width : 55%;
        max-height: 25%;
        padding   : 5% 0 15% 0;
        margin-top: 5%;
    }

    .tv-container button {
        font-size: 0.8em;
        width    : 60%;
        transform: scale(0.8);
    }

    /* ------------------------------- Advantages ------------------------------- */
    .advantages {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
    }

    .advantage {
        width         : 50%;
        display       : flex;
        flex-direction: row;
    }

    .advantage .text {
        display      : flex;
        align-items  : center;
        width        : 85%;
        padding-right: 7%;
    }

    .advantage p {
        text-align: justify;
    }

    /* ----------------------------- Main advantage ----------------------------- */
    .main-advantage {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        height          : 20%;
        background-color: #e31f2d;
        color           : #fff;
        text-align      : center;
        padding         : 3% 0;
    }

    .main-advantage p {
        margin   : 0;
        transform: scale(0.8);
    }

    /* ------------------------------ Opportunities ----------------------------- */
    .opportunities-container {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
    }

    .black-opportunities div {
        flex-direction: row-reverse;
    }

    .red-opportunities .text .title,
    .red-opportunities .text {
        text-align: end;
    }

    .opportunity {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
        padding        : 0 3%;
        margin-bottom  : 7%;
        max-width      : 100%;
    }

    .opportunity p {
        margin : 5% 5% 0 5%;
        display: block;
    }

    .opportunity .image {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 25%;
    }

    .opportunity img {
        width: 100%;
    }

    /* ------------------------------ Subscriptions ----------------------------- */
    .subscriptions-container {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
    }

    .subscription {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        padding        : 0 0 3% 0;
        margin         : 5%;
        font-size      : 1em;
        box-shadow     : 0 0 5px rgba(0, 0, 0, 0.420);
        height         : fit-content;
        max-width      : 75%;
    }

    .subscription button {
        width    : 50%;
        font-size: 0.8em;
    }

    .subscription .sub-header .title {
        font-size: 1.8em;
    }

    .subscription .sub-content {
        display       : flex;
        flex-direction: column;
        align-content : center;
        margin        : 0 5% 5% 0;
    }

    .sub-point span {
        font-size  : 1em;
        color      : #e31f2d;
        font-weight: 700;
    }

    /* --------------------------------- Economy -------------------------------- */
    .economy {
        display       : flex;
        flex-direction: column;
        height        : 90%;
        width         : 100%;
    }

    .economy-container {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;
        height         : 75%;
        width          : 100%;
    }

    .economy-list {
        height: 100%;
    }

    .economy-point {
        display       : flex;
        flex-direction: row;
        margin        : 3% 0 0 5%;
    }

    .economy-point p {
        font-size: 1.4em;
        margin   : 0 0 5% 3%;
    }

    .economy-picture {
        height         : 100%;
        width          : 50%;
        background     : url('./resources/economy-pic.jpg') no-repeat center;
        background-size: cover;
    }

    .economy-picture img {
        display: none;
    }

    /* ------------------------- How to become a client ------------------------- */
    .client-stages {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
        padding        : 0 5% 5% 5%;
        height         : 25%;
        background     :
            linear-gradient(#fff, #ff0f0f00 95%, #fff),
            url(./resources/bg5.jpg) repeat-y center;
    }

    .client-stage {
        display        : flex;
        flex-direction : column;
        align-items    : flex-start;
        justify-content: flex-start;
        width          : 60%;
        height         : 100%;
        text-align     : center;
    }

    .client-stage .client-icon {
        display      : block;
        margin       : 0 auto;
        transform    : scale(1.4);
        margin-bottom: 10%;
    }

    .client-stages .stage-arrow {
        margin: 0 auto;
        margin: 5% 1.5%;
    }

    /* --------------------------------- Request -------------------------------- */
    .request button {
        padding: 1.5% 3%;
    }

    /* --------------------------------- Reviews -------------------------------- */
    .reviews {
        height         : fit-content;
        width          : 100%;
        margin-bottom  : 3%;
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
    }

    .reviews #prev,
    .reviews #next {
        max-width : 3%;
        min-width : 3%;
        transition: all 0.4s ease-out;
    }

    .reviews #next {
        transform: rotate(180deg);
    }

    .reviews #prev:hover,
    .reviews #next:hover {
        cursor: pointer;
    }

    .reviews #prev:active {
        transform: scale(0.8);
    }

    .reviews #next:active {
        transform: scale(0.8) rotate(180deg);
    }

    .reviews-container {
        display        : flex;
        align-self     : flex-start;
        justify-content: center;
        max-width      : 85%;
        min-width      : 85%;
        max-height     : 100%;
        min-height     : 100%;
    }

    .client {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: start;
        width          : 70%;
        height         : 95%;
        margin-top     : 5%;
    }

    .gone {
        display: none;
    }

    .client img:not(#prev, #next) {
        width     : 50%;
        box-shadow: 0 0 10px #333;
    }

    .client p {
        margin   : 5% 3% 0 3%;
        font-size: 1em;
    }

    .client .general-info,
    .client .subscribtion-plan {
        font-size  : 1.6em;
        font-weight: 800;
    }

    .client * {
        transition: all 0.2s ease-in-out;
    }

    .client .subscribtion-plan {
        font-weight: 800;
        color      : #e31f2d;
    }

    .client-info {
        width          : 100%;
        height         : 100%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        margin-left    : 5%;
    }

    .client-info .review {
        text-align  : justify;
        text-justify: inter-character;
    }

    .review-button-container {
        display        : flex;
        align-items    : center;
        justify-content: center;
        margin-top     : 7%;
    }

    /* -------------------------------- Questions ------------------------------- */
    .questions {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        padding        : 3%;
        background     :
            linear-gradient(#fff, #ff0f0f00 95%, #fff),
            url(./resources/bg6.jpg) no-repeat center;
    }

    /* ---------------------------------- Video --------------------------------- */
    .video {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 100%;
        height         : 75%;
        margin-top     : 7%;
    }


    .video iframe {
        width : 63.5%;
        height: 96%;
    }

    /* --------------------------------- Footer --------------------------------- */
    .footer {
        display         : flex;
        flex-direction  : row;
        margin-top      : 5%;
        padding-top     : 3%;
        background-color: #efefef;
    }

    .footer .instructions,
    .support {
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;
        padding        : 0 5% 5% 7%;
    }

    .instructions a,
    .support a {
        margin-top: 3%;
    }

    .footer .address-button {
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
    }

    .footer .address-button {
        width: 30%;
    }

    .footer .address-button button {
        width: 80%;
    }

    /* -------------------------- Global bottom margin -------------------------- */
    body>div:not(.header, #head-spacer, .reviews) {
        margin-bottom: 3% !important;
    }
}

@media screen and (max-width: 800px) {

    body,
    html {
        font-size: 14px;
    }

    button {
        width: 60%;
    }

    /* --------------------------------- Header --------------------------------- */
    .header {
        position        : fixed;
        display         : flex;
        width           : 100%;
        height          : 8%;
        background-color: #fff;
        align-items     : center;
        justify-content : center;
        transition      : all 0.4s ease-in-out;

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.420);
    }

    #head-spacer {
        width     : 100%;
        height    : 8%;
        transition: all 0.4s ease-in-out;
    }

    .header-on-top {
        height: 12% !important;
    }

    .logo-container {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 20%;
        height          : 100%;
        background-color: #fff;
        border-radius   : 0 0 5% 5%;
        transition      : all 0.4s ease-in-out;
    }

    #logo {
        width : 75%;
        height: auto;
    }

    .sales {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        width          : 40%;
        font-size      : 0.8em;
        text-align     : end;
    }

    .get-call button {
        transition: all 0.4s ease-in-out;
        font-size : 0.8em;
    }

    /* ----------------------------------- TV ----------------------------------- */
    .tv {
        width : 100%;
        height: 50%;
    }

    .tv p {
        color     : #fff;
        margin    : 0 5% 3% 5%;
        text-align: center;
    }

    .tv .price {
        color: #f6c228;
    }

    .tv-background {
        width          : 100%;
        height         : 100%;
        background     : url(./resources/bg1.jpg) no-repeat center;
        background-size: auto 100%;
    }

    .tv-container {
        padding: 7% 0 15% 0;
    }

    .tv-container button {
        transform: scale(0.8);
        font-size: 1em;
    }

    /* ------------------------------- Advantages ------------------------------- */
    .advantage {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        width         : 100%;
    }

    .advantage img {
        transform: scale(0.6);
    }

    .advantage .text {
        display      : flex;
        width        : 85%;
        padding-right: 7%;
    }

    .advantage p {
        text-align  : justify;
        text-justify: inter-word;
    }

    /* ----------------------------- Main advantage ----------------------------- */
    .main-advantage {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        height          : 20%;
        background-color: #e31f2d;
        color           : #fff;
        text-align      : center;
    }

    .main-advantage p {
        margin: 0 0 3% 0;
    }

    /* ------------------------------ Opportunities ----------------------------- */
    .opportunity {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
        padding        : 0 3%;
        margin-bottom  : 7%;
    }

    .opportunity p {
        margin : 0 0 5% 0;
        display: block;
    }

    .opportunity .image {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 40%;
    }

    .opportunity img {
        width: 90%;
    }

    .opportunities-container :nth-child(odd) {
        flex-direction: row-reverse;
    }

    /* ------------------------------ Subscriptions ----------------------------- */
    .subscription {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        width          : 90%;
        padding        : 0 0 5% 0;
        margin         : 5% auto;
        font-size      : 1em;
        box-shadow     : 0 0 5px rgba(0, 0, 0, 0.420);
    }

    .subscription .sub-content {
        display       : flex;
        flex-direction: column;
        align-content : center;
        margin-bottom : 5%;
    }

    .sub-point span {
        font-size  : 1.4em;
        color      : #e31f2d;
        font-weight: 700;
    }

    /* --------------------------------- Economy -------------------------------- */
    .economy {
        display       : flex;
        flex-direction: column;
    }

    .economy-container {
        display       : flex;
        flex-direction: column-reverse;
    }

    .economy-point {
        display       : flex;
        flex-direction: row;
    }

    .economy-point p {
        font-size: 1.2em;
        margin   : auto 0;
    }

    .economy-point img {
        transform: scale(0.6);
    }

    .economy-picture {
        width: 100%;
    }

    .economy-picture img {
        width: 100%;
    }

    /* ------------------------- How to become a client ------------------------- */
    .client-stages {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        background     :
            linear-gradient(#fff, #ff0f0f00 95%, #fff),
            url(./resources/bg5.jpg) repeat-y center;
        font-size  : 1.2em;
        font-weight: 700;
    }

    .client-stage {
        width     : 60%;
        margin-top: 5%;
        text-align: center;
    }

    .client-stage .client-icon {
        display: block;
        margin : 0 auto;
    }

    .client-stages .stage-arrow {
        margin   : 0 auto;
        margin   : 5% 0;
        transform: rotate(90deg);
    }

    /* --------------------------------- Reviews -------------------------------- */
    .reviews {
        height         : 120%;
        width          : 100%;
        margin-bottom  : 3%;
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
    }

    .reviews #prev,
    .reviews #next {
        max-width : 10%;
        min-width : 10%;
        transition: all 0.4s ease-out;
    }

    .reviews #next {
        transform: rotate(180deg);
    }

    .reviews #prev:hover,
    .reviews #next:hover {
        cursor: pointer;
    }

    .reviews #prev:active {
        transform: scale(0.8);
    }

    .reviews #next:active {
        transform: scale(0.8) rotate(180deg);
    }

    .reviews-container {
        display        : flex;
        align-self     : flex-start;
        justify-content: center;
        max-width      : 70%;
        min-width      : 70%;
        max-height     : 100%;
        min-height     : 100%;
        overflow       : scroll;
    }

    .client {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: start;
        max-width      : 70%;
        min-width      : 70%;
        max-height     : 95%;
        min-height     : 95%;
        margin-top     : 5%;
    }

    .gone {
        display: none;
    }

    .client img:not(#prev, #next) {
        width     : 100%;
        box-shadow: 0 0 10px #333;
    }

    .client p {
        margin: 5% 3% 0 3%;
    }

    .client * {
        transition: all 0.2s ease-in-out;
    }

    .client .subscribtion-plan {
        font-weight: 800;
        color      : #e31f2d;
    }

    .client-info {
        width         : 130%;
        height        : 100%;
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    .client-info .review {
        text-align  : justify;
        text-justify: inter-character;
    }

    .review-button-container {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }


    /* -------------------------------- Questions ------------------------------- */
    .questions {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        margin         : 7% 0;
        padding        : 5%;
        background     :
            linear-gradient(#fff, #ff0f0f00 95%, #fff),
            url(./resources/bg6.jpg) no-repeat center;
    }

    /* ---------------------------------- Video --------------------------------- */
    .video {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 100%;
        height         : 40%;
    }

    .video iframe {
        width : 95%;
        height: 75.5%;
    }

    /* --------------------------------- Footer --------------------------------- */
    .footer {
        display         : flex;
        flex-direction  : column;
        justify-content : flex-start;
        margin-top      : 5%;
        background-color: #efefef;
    }

    .instructions,
    .support {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        width          : fit-content;
        padding        : 0 5% 5% 7%;
    }

    .instructions a,
    .support a {
        margin-top: 3%;
    }

    .footer .address-button {
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
        padding        : 3%;
    }

    /* -------------------------- Global bottom margin -------------------------- */
    body>div:not(.header, #head-spacer, .reviews) {
        margin-bottom: 12% !important;
    }
}